
 body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(195, 223, 153);
font-family: Verdana, Geneva, Tahoma, sans-serif
 } 
 
 #app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #container{
    width: 90%;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
  }
  
  .card-layout{
    background-color: white;
    padding: 2rem;
    width: 50%;
    margin: 2rem;
  }

  h1{
    text-transform: uppercase;
    font-size: x-large;
  }

 .inner-block{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(3, 184, 3);
  }

  .green-text{
    color: rgb(3, 184, 3);
    font-weight: 800;
  }

  .grey-text{
    color: grey
  }

  .display-flex-column{
    display: flex;
    flex-direction: column;
  }

  
  .display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon{
    font-size: xx-large;
  }

  .large-text{
    font-size: xx-large;
  }

  .centre-element{
    justify-content: center;
    align-items: center;
  }

  #cardThree{
    line-height: 0.1;
  }

  .icon-circle{
    background-color: rgb(114, 5, 165);
    padding: 1rem;
    border-radius: 50%;
  }

  .icon-circle i{
    color: aliceblue;
  }

  #cardFour, #cardFive{
    position: relative;
    width: 30%;
  }

  .overlay-top-left{
    position: absolute;
    top: -15%;
    left: +5%;
  }

  .float-right{
    width: 100%;
    text-align: right;
  }

  .red-text{
    color: red;
    font-weight: 800;
  }

  .dot-circle{
    height:100px;
    width: 100px;
    background-color: #ffffff88;
    border-radius: 50%;
    border: 3px dashed #600297;
}

.align-items-center{
    align-items: center;
}

.orange-text{
    color: orange;
}

.blue-text{
    color: blue;
}

.line-height-small{
    line-height: 0.1;
}